.navbar-default {
    background-color: #fff;
    margin-bottom: 0;
    border: none;
    background-image: none;
    box-shadow: none;
}

.navbar-default .navbar-toggle {
    border-color: #fff
}

/*.navbar-header {*/
  
 