.rozha-one {
    font-family: 'Rozha One', serif;
  }
  
  .roboto {
    font-family: 'Roboto', sans-serif;
  }
  
  .upper {
    text-transform: uppercase;
  }
  
  .blue {
    color: #337ab7;
  }
   
  .grey {
    color: #8a8484;
  }
  /*//////////HEADER//////////*/
  header {
    height: 90vh;
    background-image: url('../img/header.jpg');
    background-position: 50% 50%;
    background-size: cover;
  }
  
  #headers-wrapper {
    margin-top: 19rem;
  }
  
  header h1 {
    color: #fff;
    text-align: center;
  }
  
  header h2 {
    margin-top: -6.9rem;
    font-size: 1rem;  
  }
  /*//////////HEADER END//////////*/
  
  /*//////////QUOTE//////////*/
  #quote-wrapper {
    margin: 0 auto;
    width: 95.7%;
  }
  
  #quote h2 {
    font-size: 1.6rem;
    text-align: center;
  }
  
  #quote h3 {
    font-size: .8rem;
    text-align: center;
  }
  /*//////////QUOTE END//////////

  /*ARTICLE*/
  
  .article_1 {
    background-position: center;
    width: 90%;
    margin: 4.6rem 3.3rem;       
  }
  
  p {
    text-align: center;
    padding: 0 17rem;
    font-size: 1.2rem;
  }

  .lite-grey {
    color: #AEADAD 
  }

 .article a {
    text-align: center;
    font-size: 1.0rem;
    text-decoration: underline;
    padding: 0.2rem 30.9rem;
    /*position: center;*/
  }
  /*ARTICLE AND*/

  /*video*/

  /*#video {
    background-position: center;
    background-size: cover; 
  }*/

  iframe {
    /*background-position: center;*/
    padding: 1.3em 0;
    margin: 2rem 1.1rem;
    width: 97%;     
    background-position-y: center;
  }
   

