html, body {
  margin: 0;
  padding: 0;
}

.rozha-one {
  font-family: 'Rozha One', serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.upper {
  text-transform: uppercase;
}

.blue {
  color: #337ab7;
}

.grey {
  color: #8a8484;
}

.light-grey {
  color: #c4c4c4;
}

.dark-grey {
  color: #312f2f;
}

.wide {
  letter-spacing: .5rem;
}

.small-text {
  font-size: 1rem;
}

section {
  margin-bottom: 5rem;
}

.underlined-link {
  border-bottom: solid thin #337ab7;  
  padding-bottom: 1rem;
}

/*//////////NAVBAR LOGO//////////*/
.navbar-brand>img {
    display: block;
    height: 3rem;
    margin-top: -0.6rem;
}
/*//////////NAVBAR LOGO END//////*/

/*//////////HEADER//////////*/
header {
  height: 90vh;
  background-image: url('../img/header.jpg');
  background-position: 50% 50%;
  background-size: cover;
  margin-top: 5rem;
}

#headers-wrapper {
  margin-top: 19rem;
}

header h1 {
  color: #fff;
  text-align: center;
}

header h2 {
  margin-top: -6.9rem;
  font-size: 1rem;  
}
#header-text p {
  display: none;
}

/*//////////HEADER END//////////*/

/*//////////QUOTE//////////*/
#quote-wrapper {
  margin: 0 auto;
  width: 95.7%;
}

#quote h2 {
  font-size: 1.6rem;
  text-align: center;
}

#quote h3 {
  font-size: .8rem;
  text-align: center;
}
/*//////////QUOTE END//////////*/

/*//////////ARTICLE//////////*/

#first-article img {
  width: 100%;
  margin-bottom: 1.5rem;
}

#first-article p {
font-size: 1.2rem;
padding: 0 2rem;
}

.lite-grey {
  color: #AEADAD 
}

.article a {
  /*text-align: center;*/
  font-size: 1.0rem;
}
/*//////////ARTICLE END//////////*/

/*//////////VIDEO//////////*/
#video iframe {
  width: 100%;
}

/*//////////VIDEO END//////////*/

/*//////////SHOP//////////*/
#shop h2:nth-child(1) {
    margin-top: 0;
}

#shop h2:nth-child(2) {
  font-size: 2rem;
}

p.cost {
  font-size: 2rem;
  color: #e8adfb;
  margin-bottom: 0;
}

#product-img::after {
  content: " ";
  width: 20rem;
  height: 30rem;
  background-color: #cdcdcd;
  margin: -27rem auto 0;
  display: block;
}
/*//////////SHOP END//////////*/

/*/////////ARTICLE 2///////////*/

#second-article img {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
}

#second-article p {
  font-size: 1.2rem;
  padding: 0 2rem;
}

/*#second article a {
  font-size: 1.0rem;
}*/

/*///////ARTICLE 2 END//////////*/

/*///////ARTICLE 3/////////*/
#third-article .wrapper {
  display: block;
  width: 60%;
  height: 60%;
  overflow: hidden;
  margin: 0 auto;
}

#third-article img {
  height: 15.5rem;
/*   margin-top: 5rem; */
}

#third-article p {
  font-size: 1.2rem;
  padding: 0 2rem;
}

/*///////ARTICLE 3 END//////////*/

/*//////////JOIN//////////*/
#join button {
    border: none;
    background-color: #5ea8ef;
    color: #fff;
    width: 3rem;
    height: 3rem;
    margin-left: -0.5rem;
}

#join input {
    border: none;
    background-color: #ececec;
    height: 3rem;
    width: 89%;
}

#join h2 {
  margin-top: 3rem;
}
/*//////////JOIN END//////////*/

/*////////CONTACTS////////////*/

#contacts img {
  width: 100%;
}

#contacts .wrapper {
  display: block;
  width: 80%;
  margin: 1.5rem auto;
}

#contacts .wrapper p {
  text-align: left;
  font-size: 2rem;
}

/*///////CONTACTS END/////////*/

@media (min-width: 768px) {
  header {
      height: 75vh;
      background-position: 100% 50%;
      background-size: 80%;
      background-repeat: no-repeat;
      animation-name: transparency;
      animation-duration: 8s;
  }
  
  @keyframes transparency {
    from {opacity:0;}
    to {opacity:1;}
  }
  
  header h1 {
    color: #000;
    text-align: left;
    animation-name: left-transparent;
    animation-duration: 3s;
  }
  
  @keyframes left-transparent {
    from {
      margin-left: -1000px;
      opacity: 0;
    }
    to {
      margin-left: 0;
      opacity: 1;
    }
  }
  
  header h2 {
    animation-name: from-top;
    animation-duration: 2s;
  }
  
  @keyframes from-top {
    from {
      margin-top: -1000px;
    }
    to {
      margin-top: -6.9rem;
    }
  }
  /*///////HEADER////////*/

  #header-text p {
    display: block;
    margin-top: 5rem;
    margin-left: -1.3rem;
  }

  /*//////QUOTE/////////*/

  #quote h2 {
    margin: 0 25%;
    text-align: center;
  }

  /*////ARTICLE 1 + VIDEO//*/
  #first-article {
    padding: 0;
  }
  #first-article img {
    width: 50%;
    float: left;
  }
  #first-article p {
    width: 35%;
    text-align: left;
    margin-left: 3rem;
  } 
  #first-article a {
    float: left;
    margin-left: 4.8rem;    
  }

  #video {
    width: 60%;
    margin-top: -33rem;
    float: right;
    padding: 0;
  }
  
  /*/////ARTICLE 2/////*/
  .img-right {
    padding: 0;
  }
  #second-article {
    padding: 0;
  }
  
  #second-article img {
    width: 65%;
    float: right;
    margin: 0;
  } 
  #second-article h2 {
    text-align: left;
    margin-top: -22rem;
    margin-left: 2rem;
  }
  #second-article p {
    text-align: left;
    margin-top: -16rem;
    margin-left: 2rem;
    width: 30%;
    padding: 0;
  } 
  #second-article a {
    float: left;
    margin-top: -5rem;
    margin-left: 2rem;
  }
  /*///ARTICLE 2 END/////*/

  /*///ARTICLE 3////////*/
  #third-article img {
    float: left;
  }
  #third-article h2 {
    float: right;
    margin-top: -12rem;   
  }
  #third-article p {
    float: right;
    margin-top: -8rem;
    width: 30%;
  }
  /*///ARTICLE 3 END/////*/

  /*///contacts/////*/

  #contacts {
    padding: 0;
  }
  #contacts img {
    width: 50%;
    float: left;
  } 
  #contacts h3 {
    margin-top: -21rem;
    margin-left: 16rem;
  }
  #contacts .wrapper {
    float: right;
    width: 42%;
    margin-top: -18rem;
  }
  #contacts a {
    float: right;
    margin-top: -5rem;
    margin-right: 21rem;
  }
  /*///contacts end/////*/ 
}