.upper {
  text-transform: uppercase;
}

.grey {
  color: #B5B1B1;
}
.light-grey {
  color: #C9C4C4;
} 
.blue {
  color:#2b6a98;
}

h1, h2 {
  font-family: 'Rozha One', serif;
}

h1 {
  font-weight: 200;
}

h2 {
  font-size: 34px;
  letter-spacing: -2.5px;
  font-weight: 100;
}

h3 {
  font-family: 'Abril Fatface', cursive;
  font-size: 52px;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  letter-spacing: 0.2rem;
}

p { 
  font-family: 'Roboto', sans-serif;  
  margin-top: 3rem;
  font-size: 12px;
}

#section-01 img, #section-02 img {
  width: 97%;
}

.line {
  border-top: 2px solid #2b6a98;
  margin-top: 5rem;
}

 a:hover {
  text-decoration: none;
}
/*//////header//////*/

.icon {
  color: #FFFFFF;
  font-size: 5.5rem;
  margin-top: 3rem;
} 

header {
  background-image: url('../img/blue.jpg');
  background-size: cover;
  height: 90vh;
  margin-bottom: 11rem;   
}
#head {
  min-height: 78rem;
}
header h1 {
  color: #FFFFFF;
  font-size: 55px;
}

#headers-wrapper {
  margin-top: 17rem;
  padding: 0 16rem;
} 
 
header p {
  font-size: 16px;
  color: #c3c3c3;
}  

#headers-wrapper p:nth-child(1) {
  font-size: 11px;
  letter-spacing: 0.7rem;
}
  
/*//////header end//////*/

/*/////  01 ////////*/

#section-01 img {
  margin-left: 3rem;
  height: 360px;
}

#section-01 .top-h2, #section-02 .top-h2, #section-03 .top-h2 {
  margin-top: -1.4rem;
}
#section-01 {
  margin-bottom: 17rem;
}
  
/*///// 01 end /////*/

/*////// 02 ////////*/

#section-02 img {
  height: 360px;
  margin-left: -2rem;
}

#section-02 h3 {
  text-align: right;
}
 
#section-02 {
  margin-bottom: 18rem;
}

/*//// 02 end //////*/

/*///// 03 ////////*/

#section-03 .h3-hr {  
  display: block;
  margin: 0 auto;
  width: 6%;
}
#section-03 .h3-hr hr {  
  border-bottom: 2px solid #2b6a98;
}

#section-03 {
  margin-bottom: 8rem;
}
#h2-hr h2:nth-child(2) {
  padding: 0 29rem 0 36rem;
}
#h2-hr hr {  
  border-bottom: 2px solid #2b6a98;
  margin: -3rem 37rem 0;
  width: 31%;
}

#h2-hr {
  display: block;
  /*margin: -3rem 35rem 0;
  /*width: 35.5%;
  margin-left: 42rem;*/
}
/*.line-through {
  border-top: 2px solid #2b6a98;
  margin: -3rem 35rem 0;
  /*width: 35.5%;
}*/

/*///// 03 end//////*/

/*///// photo ////*/
#photo-01, #photo-02, #photo-03 {
  margin-bottom: 2.3rem;
}

.img-left img {
  float: left;
  margin-left: 9.5rem;
}

.img-right img {
  float: right;
  margin-right: 9.5rem;
}

#photo-04 {
  margin-bottom: 15rem;
}

/*.img-left {
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: 2s;
}

.img-left:hover {
  background: #2b6a98;
}*/
/*//// photo end ////*/

/*//// text //////*/

#text p {
  font-size: 20px;
  font-weight: bold;
  padding: 0 15rem;
}

#text {
  margin-bottom: 16rem;
}

/*/// contacts ////*/

#contacts p {
  font-size: 14px;
}
#contacts a {
  font-weight: bold;
}
#contacts button {
  background-color: #FFFFFF;
  height: 4.5rem;
  width: 22rem;
  margin-top: 1.3rem;
  border: 1px solid #C9C4C4; 
}

form p {
  width: 72%;
  text-align: center;
  margin-top: 0.5rem;
} 
#e-mail, #tel {
  margin-top: 2rem;
}

.i-right {
  margin-right: 1em;
}

/*footer*/

#footer-wrapper {
  min-height: 24rem;
  margin-top: 12rem;
}
footer {
  background-image: url('../img/blue.jpg');
  margin-top: 12rem;
  background-size: cover;
}

footer p {
  font-size: 16px;
  color: #c3c3c3;
  margin-top: -1rem;
}
#footer-wrapper .top-i-p {
  margin-top: 8rem;
}
/*//// footer end ///*/ 