body {
    margin: 10 em;
    padding: 10 em;
}

header h1 {
    text-align: center;
    color: #D29492;
    font-family: 'Brush Script MT', cursive;
    font-size: 100px;
    font-style: italic;
    font-variant: normal;
    font-weight: 500;    
}

header p {
    text-align: center;
    color: #878791;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

nav {
    background-color: #FFD7D6; 
}

nav ul {    
    list-style-type: none;
    display: block;        
    padding: 4px;
    margin: 0;        
}
    
nav ul li {
    display: inline;    
}

nav ul li a {
    color:#878791;
}

article {
    width: 90%;
    padding: 3rem 2rem;   
}

article p {
    width: 100%;
    text-align: justify; 
}

article ul li {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

article ul li a {
    color:  #878791;         
}

article h2 {
    color:#D29492; 
}

footer {
   background-color:#E9E7ED;
   height: 3rem;
   padding-top: 2.5rem;
}

.indentation {
    margin-top: 2.5rem;
}

#name h2 {
    font-size:30px;
}
